body {
    background-color: #efefef;
}

.main {
    margin: 30px;
    background-color: white;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.guid-content {
    margin: 20px;
    line-height: 2em;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

.has-error .help-block, .has-error .control-label{
    color: #b94a48;
}
.img-size{
    width: 48px;
    height: 48px;
}
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}