<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/qa.css"/>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/jquery.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{head}"></div>
<div class="container-fluid main">
    <div class="row main">
        <div class="col-lg-8 col-md-6 col-xs-12 col-md-12">
            <h2><span class="glyphicon glyphicon-list" style="font-size: 30px"> 发现</span></h2>
            <br/>
            <div class="media" th:each="question : ${questions}">
                <div class="media-left text-desc">
                    <a href="#">
                        <img class="media-object img-size"
                             src="https://avatars0.githubusercontent.com/u/63109857?s=400&v=4">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+ ${question.id}}" th:text="${question.name}"></a>
                    </h4>
                    <span class="text-desc"><span th:text="${question.commentCnt}"></span> 个回复 • <span
                            th:text="${question.readCnt}"></span> 次浏览 • <span
                            th:text="${#dates.format(question.createTime,'yyyy-MM-dd HH:mm')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 col-md-12">
            <div class="guid-content">
                <h3>活动推荐</h3>
                <span>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</span><br/>
                <span>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</span><br/>
                <span>• 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</span><br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>