<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="css/qa.css"/>
    <script src="js/bootstrap.js" type="application/javascript"></script>
    <script src="js/jquery.js" type="application/javascript"></script>
</head>
<body>
<div th:insert="~{head}"></div>
<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-8 col-md-6 col-xs-12 col-md-12">
            <h2><span class="glyphicon glyphicon-plus" style="font-size: 30px"> 发起</span></h2>
            <form th:action="@{/publish}" method="post" th:object="${questionForm}" th:fragment="questionForm">
                <!--/* Show general error message when form contains errors */-->
                <th:block th:if="${#fields.hasErrors('${questionForm.*}')}">
                    <div th:replace="alert :: alert (type='danger', message='Form contains errors. Please try again.')">
                        Alert
                    </div>
                </th:block>
                <th:block th:if="${userNoLoginMsg}">
                    <div th:replace="alert :: alert (type='danger', message='用户未登录')">
                        Alert
                    </div>
                </th:block>
                <fieldset>
                    <div class="form-group" th:classappend="${#fields.hasErrors('title')}? 'has-error'">
                        <label for="question-title" class="col-sm-2 control-label">问题</label>
                        <input class="form-control" name="ct" th:field="*{title}" id="question-title"
                               placeholder="问题描述"/>
                        <span class="help-block" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Incorrect title</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                        <label for="question-content" class="col-sm-2 control-label">内容</label>
                        <textarea class="form-control" rows="10" name="description" placeholder="请输入问题描述"
                                  th:field="*{description}" id="question-content"></textarea>
                        <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Incorrect description</span>
                    </div>
                    <div class="form-group" th:classappend="${#fields.hasErrors('tag')}? 'has-error'">
                        <label for="question-tag" class="col-sm-2 control-label">问题标签</label>
                        <input class="form-control" name="tag" th:field="*{tag}" id="question-tag"
                               placeholder="输入标签，以，号分隔"/>
                        <span class="help-block" th:if="${#fields.hasErrors('tag')}"
                              th:errors="*{tag}">Incorrect tag</span>
                    </div>
                    <button type="submit" class="btn btn-success btn-publish">发布
                    </button>
                </fieldset>
            </form>
        </div>
        <div class="col-lg-4 col-md-6 col-xs-12 col-md-12">
            <div class="guid-content">
                <h3>注意事项</h3>
                <span>• 问题标题: 请用精简的语言描述您发布的问题，不超过25字</span><br/>
                <span>• 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料</span><br/>
                <span>• 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字</span><br/>
            </div>
        </div>
    </div>
</div>
</body>
</html>